
      .container{
        padding-right: 400px;
        text-align: center;


    }
  .container1{
      border: 2px solid black;
      outline: royalblue solid 10px;
      margin: auto;  
      margin-left: 150px;
      padding: 10px;
      text-align: left;
      display: flex;
      
      grid-template-columns: repeat(3,10vw);
    }
  #items1{
      border: 2px solid black;
      outline: royalblue solid 10px;
      margin: auto;  
      margin-left: 150px;
      padding: 10px;
      text-align: left;
    }
#box{
  background-color: white;
  width: 30px;
  height: 40px;
  position: absolute;
  
  

}
img{
  width: 30px;
  height: 40px;
}
table, th, td {
  border: 1px solid black;

}
